@font-face {
  font-family: Inter;
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url('../assets/fonts/inter-latin-wght-normal.woff2')
    format('woff2-variations');
}

@font-face {
  font-family: 'Inter Fallback';
  font-style: normal;
  font-weight: 400;
  src: local('Arial');
  ascent-override: 90.51%;
  descent-override: 21.64%;
  line-gap-override: 9.84%;
  size-adjust: 101.65%;
}

@font-face {
  font-family: 'Inter Fallback';
  font-style: normal;
  font-weight: 500;
  src: local('Arial');
  ascent-override: 90.51%;
  descent-override: 21.64%;
  line-gap-override: 9.84%;
  size-adjust: 101.65%;
}

@font-face {
  font-family: 'Inter Fallback';
  font-style: normal;
  font-weight: 600;
  src: local('Arial Bold');
  ascent-override: 97.92%;
  descent-override: 23.42%;
  line-gap-override: 10.64%;
  size-adjust: 93.96%;
}
