@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/geist-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist Fallback';
  font-style: normal;
  font-weight: 400;
  src: local('Arial');
  ascent-override: 88.66%;
  descent-override: 22.38%;
  line-gap-override: 0;
  size-adjust: 107.26%;
}

@font-face {
  font-family: 'Geist';
  src: url('../assets/fonts/geist-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist Fallback';
  font-style: normal;
  font-weight: 500;
  src: local('Arial');
  ascent-override: 87.06%;
  descent-override: 22.31%;
  line-gap-override: 0;
  size-adjust: 109.82%;
}

@font-face {
  font-family: 'Geist';
  src: url('../assets/fonts/geist-semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist Fallback';
  font-style: normal;
  font-weight: 600;
  src: local('Arial Bold');
  ascent-override: 92.58%;
  descent-override: 24.08%;
  line-gap-override: 0;
  size-adjust: 103.8%;
}
