@use '../../styles/mixins';

.container {
  @include mixins.paddingReset;

  background-color: black;

  color: white;

  display: flex;

  justify-content: space-between;

  align-items: center;
}

.brand,
.tagLine {
  margin: 0;
}
